body
    font-size: 16px
    line-height: 1.5
    font-family: 'Raleway',sans-serif

h1, h2, h3, h4, h5, h6
    margin: 0

ul
    list-style-type: none
    margin: 0
    padding: 0
    font-size: 0

// HEADER

.header
    background: #1888e9
    background: linear-gradient(to left, #1888e9, #1583e4)
    position: relative

.back-to-top
    width: 70px
    height: 70px
    background: #d7d7d7
    position: fixed
    bottom: 5px
    right: 8px
    border-radius: 3px
    cursor: pointer

    &:after
        content: ""
        position: absolute
        left: 12px
        top: 20px
        width: 0
        height: 0
        border-style: solid
        border-width: 0 23px 27px
        border-color: transparent transparent #fff transparent
        border-radius: 3px

.header-logo
    position: absolute
    left: 8px
    top: 5px

.header-logo__image
    height: 70px

.header-top__container
    text-align: right

.first-navigation
    font-size: 15px

.first-navigation__icon
    vertical-align: middle
    padding-left: 8px

.first-navigation__link
    color: #fff

.first-navigation__item
    display: inline-block
    padding: 20px 20px 13px
    font-size: 12.5px
    font-family: Lato, sans-serif

    &_langshow
        position: relative
        &:hover .languages
            display: block

.languages
    position: absolute
    width: 130px
    top: 100%
    font-size: 9px
    right: 28px
    text-align: left
    z-index: 1
    color: #bbb
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    box-shadow: 2px 0px 8px #000
    display: none

.languages__icon
    vertical-align: middle
    padding-right: 5px

.languages__item
    padding: 10px 15px
    background: #f6f6f6

    &:hover
        background: #fff

.signup
    color: #fff
    background: #178aeb
    background: linear-gradient(to left, #0878da, #1788e9)
    padding-right: 30px
    font-family: Lato, sans-serif
    font-size: 15px

.signup__top
    padding-top: 5px

.signup_lightblue
    color: #80e6ff

.signup__bottom
    color: #fff
    text-decoration-color: #80e6ff
    font-size: 16.67px

.three-navigation
    font-size: 15px
    text-align: center
    background: #0878da

.three-navigation__item
    display: inline-block
    color: #fff
    text-transform: uppercase
    padding: 15px 2px
    font-family: Raleway, sans-serif
    font-size: 15px
    font-weight: 500;


.header-bottom
    position: relative

.header-bottom__logo
    position: absolute 
    left: 80px
    top: 14px
    display: none

.header-bottom__image
    height: 20px

.four-navigation
    text-align: center
    background: linear-gradient(to bottom, #005299, #0066bf)

.four-navigation__item
    display: inline-block
    padding: 8px 2px 3px

    &:hover
        background: #0e7edf

#hide-button
    position: absolute
    top: 65px
    font-family: Raleway,sans-serif
    font-size: 15px
    color: #00deff
    padding: 3px 10px
    white-space: nowrap
    background-color: transparent
    border: none
    z-index: 1
    cursor: pointer

#unhide-button
    position: absolute
    top: 13px
    font-family: Raleway,sans-serif
    font-size: 15px
    color: #00deff
    padding: 3px 10px
    white-space: nowrap
    background-color: transparent
    border: none
    left: 270px
    cursor: pointer

//END HEADER

// MAIN

.container
    margin: 0 auto

.girl-gallery
    font-size: 0
    margin-top: 10px

.girl-gallery__item
    height: 215px
    width: 49.5%
    background: #c61e5d
    display: inline-block
    margin: 0 1px 1px 1px
    position: relative
    overflow: hidden

.girl-gallery__likes
    position: absolute
    right: 10px
    top: 10px
    font-size: 14px
    background: #71717182
    padding: 5px 10px
    border-radius: 30px
    font-weight: 500
    color: #fff

.girl-gallery__image
    padding-left: 5px
    vertical-align: middle

.brick
    background: #fff
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.33)
    width: 200px

.user-info__top
    padding-top: 10px;
    position: relative
    padding-bottom: 7px;
    border-bottom: 1px solid #d7d7d7;

.user-info__online
    position: absolute
    right: 10px
    top: 8px
    text-transform: uppercase;
    color: #656565;
    font-family: Lato,Arial,Geneva,Helvetica,"sans-serif";
    font-size: 8px;

.user-info__image-container
    overflow: hidden
    border-radius: 50%
    width: 124px
    height: 124px
    margin: 0px auto

.user-info__name
    font-family: Roboto,Arial,Geneva,Helvetica,"sans-serif"
    text-align: center
    font-size: 20px
    word-wrap: break-word
    margin-top: 5px

.user-info__image
    width: 100%

.info-list
    font-size: 13px
    color: #293037

.to-right
    float: right

.info-list__item
    padding: 10px 15px
    border-bottom: 1px solid #d7d7d7

.info-list__item:after
    content: ""
    display: table
    clear: both

.user-info__likes-heart
    width: 10px
    padding-left: 5px

.girl-photo-gallery
    margin-top: 7px

.image-heart:after
    content: ""
    display: block
    position: absolute
    width: 164px
    height: 151px
    background-position: 50%
    background: url(../img/like.png) no-repeat
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    transition: all .2s
    opacity: 0

.image-heart:hover.image-heart:after
    opacity: 1

.modal
    position: fixed
    z-index: 10
    height: 100%
    width: 100%
    background: rgba(190, 190, 190, .8)
    display: none

.modal-content
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

.modal__slide
    text-align: center

.modal__likes
    position: absolute
    right: 0

.brick__likes
    position: absolute
    right: 10px
    top: 10px
    font-size: 14px
    background: #70707082
    padding: 5px 10px
    border-radius: 30px
    font-weight: 500
    color: #fff

.brick__image
    vertical-align: middle
    padding-left: 5px

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}